[config]

# Ingore defined errors and warnings
disable=
    broad-except,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    wrong-import-order

# A comma-separated list of package or module names from where C extensions may be loaded
generated-members=
    cv2

# Good variable names which should always be accepted, separated by a comma
good-names=
    e,
    x,
    x1,
    y,
    y1,
    z,
    h,
    w,
    px,
    py

# Max length is 100 characters
max-line-length=79

# Ignore unittest folder
ignore=
    command_line.py,
    read_from_file.py,
    read_from_url.py

